*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

body{
	background-color:#f2f5f5;
}

img{
	width:100%;
	height:108px;
}

form{
	padding-top:20px;	
	padding-bottom:20px;
}

.container{
	width:40%;
	margin:auto;	
}

.row{
	background-color:#fefefe;
	box-shadow: 0 0 20px 10px rgb(110 123 131 / 10%);
	font-family:SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}

.head h2{
	text-align:center;
	padding:10px 0;
	position:relative;
}

.head p{
	text-align:center;
	padding-bottom:15px;
	font-size:20px;
	color:#a4a1a1;
}

.head::after{
	content:"";
	border-bottom:1px solid #ccc;
	top:35%;
	left:30%;
	width:40%;
	height:2px;
	position:absolute;
}

.body{
	margin:20px;
}

.name{
	margin:10px;
}

#fname,#surname{
	width:49.5%;
	height:40px;
	border-radius:5px;
	border:1px solid #ccc;
	padding-left:10px;
}

.mobileNo{
	margin:10px;
}

#mobileNo{
	width:100%;
	height:40px;
	border-radius:5px;
	border:1px solid #ccc;
	padding-left:10px;
}

.npw{
	margin:10px;
}

#npw{
	width:100%;
	height:40px;
	border-radius:5px;
	border:1px solid #ccc;
	padding-left:10px;
}

.dob{
	margin:10px;
	display:flex;
	flex-direction:column;
}

.dob label{
	font-size:12px;
	color:#7f7b7b;
	padding-bottom:5px;
}

.dob input{
	width:100%;
	height:40px;
	border-radius:5px;
	border:1px solid #ccc;
	padding-left:10px;
}

.gender{
	margin:10px;
}

.Gender>label{
	font-size:12px;
	color:#7f7b7b;
	padding-left:15px;
}

.select-gender{
	margin:10px;
	display:flex;
	flex-direction:row;
}

.gender-card1{
	width:33.3%;
	height:40px;
	border-radius:5px;
	border:1px solid #ccc;
	padding:0 20px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	text-align:center;
	margin:0 5px;
}

.sign{
	border:none;
	background-color:#00a400;
	text-decoration:none;
	color:#fff;
	display:flex;
	align-items:center;
	justify-content:center;
	width:40%;
	height:40px;
	margin:40px auto;
	border-radius:5px;
	font-size:20px;
	font-weight:bold;
	cursor:pointer;
}

/* ERROR MSG */

.error-msg{
	color:red;
	margin-top:10px;
	display:none;
}

.error-incorrect{
	color:red;
	margin-top:10px;
	display:none;
}

.error-show{
	display:block;
}


/* LOGIN HTML */
.login-container{
	width:70%;
	margin:auto;
	font-family:SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}

.login-row{
	display:flex;
	flex-direction:row;
	margin:100px 0px;
}

.login-col1{
	width:70%;
}

.login-col1 img{
	margin-left:-40%;
}

.login-col1 p{
	font-size:36px;
	margin-left:-67px;
}

.login-col2{
	width:50%;
	box-shadow: 0 0 20px 10px rgb(110 123 131 / 10%);
	padding:20px;
	background-color:#fff;
}

.login-col2 #mobileNo,.login-col2 #npw{
	margin:10px 0;
	height:50px;
	padding:20px;
}

#login{
	border:none;
	display:block;
	text-decoration:none;
	color:#fff;
	margin:10px 0;
	background-color:#1877f2;
	width:100%;
	padding:10px;
	text-align:center;
	font-size:24px;
	font-weight:bold;
	border-radius:5px;
	
}

#login:hover{
	background-color:#1877f2b8;
	cursor:pointer;
}

#forgetP{
	text-align:center;
	display:block;
	text-decoration:none;
	color:#1877f2;
	margin:20px 0;
}

/* #forgetP::after{ */
	/* content:""; */
	/* border-bottom:1px solid #ccc; */
	/* top:68%; */
	/* left: 57%; */
    /* width: 26%; */
	/* position:absolute; */
/* } */

#create{
	border:none;
	background-color: #00a400;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57%;
    height: 47px;
    margin: 40px auto;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
#create:hover{
	background-color:#00a400b0;
}